*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.footer{
margin-top: 40px;
padding: 20px;
 background-color: #282c34;
 color: white;
 width: 100%;

}
.footer-text {
  position: relative;
  height: 100px;
}
.footer-text p{
  position: absolute;
  top: 50%;
  
}
.list li{
  list-style-type: none; 
  cursor: pointer;
}
.list li:hover{
  color: blueviolet;
}